.chat {
    display: flex;
    flex-direction: column;
}

.chat__header {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    margin: 15px;
    border-bottom: 1px solid var(--sidebar-background-color);
}

.chat__header > h1 {
    font-size: 16px;
    margin-left: 20px;
}