.mainLayout {
    display: flex;
    flex-direction: column;
}

.mainLayout__header {
    /* height: 5px; */
    background-color: var(--header-background-color);
}

.mainLayout__content {
    display: flex;
}

.mainLayout__sidebar {
    background-color: var(--sidebar-background-color);
}

.mainLayout__chat {
    width: 100%;
}