.sidebarItem {
    padding: 10px 15px 10px 15px;
    display: flex;
    align-items: center;
    background-color: inherit;
}

.sidebarItem:hover {
    background-color: var(--sidebar-hover-room);
    cursor: pointer;
}

.sidebarItem > .MuiAvatar-root {
    width: 45px;
    height: 45px;
}

.sidebarItem__content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 5px;
}

.sidebarItem__content > h6 {
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebarItem__content > p {
    color: var(--secondary-text-color);
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 720px) {
    .sidebarItem {
        padding: 10px 0;
        justify-content: center;
    }

    .sidebarItem__content {
        margin: 0;
    }

    .sidebarItem__content > h6 {
        display: none;
    }

    .sidebarItem__content > p {
        display: none;
    }
}